<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Welcome to home page!</h1>
  <div><a href="./products.html">Click here to go the products!</a></div>
  <div><a href="./signup.php">Sign Up</a></div>
  <div><a href="./login.html">Log In</a></div>
  <div><a href="./createRoom.php">Create a room</a></div>
  <div><a href="./assignRoom.php">Assign a room</a></div>
</body>

</html>